.timer{
    position: relative;
    display: inline-block;
}

.timer input{
    border:none;
    display: block;
    width: 200px;
    font-size: 30px;
    text-align: center;
}
.timer button{
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.timer button:focus {
    outline: none;
  }
  
  .timer input:focus {
    outline: none;
  }
  .controls {
    position: absolute;
    top: 0;
    left:-100px;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }